<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-8 sol-sm-8">
      <form [formGroup]="manufacturerForm" (ngSubmit)="saveManufacturer(manufacturerForm.value)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Enter Manufacturer Name" formControlName="m_name" required>
          <div class="alert-danger" *ngIf="!manufacturerForm.controls['m_name'].valid && (manufacturerForm.controls['m_name'].touched)">
            <div [hidden]="!manufacturerForm.controls['m_name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!manufacturerForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>