<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.*)$ manufacturer.php?x=$1 [QSA,NC,L]
RewriteRule ^(.*)$ model.php?x=$1 [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ manufacturer.php [QSA,NC,L]
RewriteRule ^(.*)$ model.php [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} -s
RewriteRule ^(.*)$ manufacturer.php [QSA,NC,L]	
RewriteRule ^(.*)$ model.php [QSA,NC,L]	
</IfModule>
# Set the headers for the restful api
Header always set Access-Control-Allow-Origin "http://localhost:4200"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"