<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-8 col-md-8 sol-sm-8">
			<form [formGroup]="modelForm" (ngSubmit)="saveModel(modelForm.value)">
				<div class="form-group">
					<label>Model Name</label>
					<input type="text" class="form-control" placeholder="Enter Model Name" formControlName="m_name" required>
					<div class="alert-danger" *ngIf="!modelForm.controls['m_name'].valid && (modelForm.controls['m_name'].touched)">
						<div [hidden]="!modelForm.controls['m_name'].errors.required">
							Model Name is required.
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Model Color</label>
					<select formControlName="m_name">
						<option value="">Select Color</option>
						<option value="red">Red</option>
						<option value="green">Green</option>
						<option value="blue">Blue</option>
					</select>
				</div>
				<div class="form-group">
					<label>Select Manufacturing</label>
				</div>
				<div class="form-group">
					<label>Manufacturing Year</label>
					<input type="text" class="form-control" placeholder="Enter Model Name" formControlName="m_name" required>
					<div class="alert-danger" *ngIf="!modelForm.controls['m_name'].valid && (modelForm.controls['m_name'].touched)">
						<div [hidden]="!modelForm.controls['m_name'].errors.required">
							Manufacturer year is required.
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label>Model Images</label>
					<input type="file" class="form-control" placeholder="Enter Model Name" formControlName="m_images" required>
					<div class="alert-danger" *ngIf="!modelForm.controls['m_images'].valid && (modelForm.controls['m_images'].touched)">
						<div [hidden]="!modelForm.controls['m_images'].errors.required">
							Upload Model Images.
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" [disabled]="!modelForm.valid">Submit</button>
			</form>
		</div>
	</div>
</div>