<div class="container">
	<div class="py-5 text-center">
		<h2>Model Details</h2>
	</div>
	<div class="py-2">
		<div class="row py-2">
			<div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
				<button class="btn btn-success" (click)="getNavigation('model/create', '')">Create New</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
				<table #modelsTable class="display" style="width:100%">
					<thead>
						<tr>
							<th>Serial Number</th>
							<th>Model Name</th>
							<th>Year</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let model of models;">
							<td>{{model.id}}</td>
							<td>{{model.model_name}}</td>
							<td>{{model.m_year}}</td>
							<td>
								<button type="button" class="btn btn-danger" (click)="removeModel(model.id)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>