<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <button class="btn btn-success" (click)="getNavigation('create', '')">Create New Manufacturer</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <table #manufacturersTable class="display" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manufact of manufacturers;">
            <td>{{manufact.m_id}}</td>
            <td>{{manufact.m_name}}</td>
            <td>{{manufact.created_date}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="getNavigation('view', manufact.m_id)">View</button>
              <button type="button" class="btn btn-warning" (click)="getNavigation('update', manufact.m_id)">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>